@model User

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Личный кабинет - @Model</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id)
        <p>
            <label>Имя: @Html.DisplayFor(x => x.FirstName)</label><br />
            <label>Фамилия: @Html.DisplayFor(x => x.LastName)</label><br />
            <label>Логин: @Html.DisplayFor(x => x.Login)</label><br />
        </p>
        @Html.HiddenFor(x => x.Password)

        <p> <input type="submit" value="Изменить" /></p>
    }
    @Html.ActionLink("Главная", "HomePage")
</body>
</html>

