@model ApplicationOrigin.Models.User

@{
    Layout = "_Layout";

    ViewBag.Title = "Регистрация";
}

@ViewBag.MessageError
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <label class="textbox">Имя: @Html.TextBoxFor(x => x.FirstName)</label>
    <label class="textbox">Фамилия: @Html.TextBoxFor(x => x.LastName)</label>
    <label class="textbox">Логин: @Html.TextBoxFor(x => x.Login)</label>
    <label class="textbox">Пароль: @Html.PasswordFor(x => x.Password)</label>

    <input class="button" type="submit" value="Зарегистрироваться" />
}

