@model System.Collections.Generic.IEnumerable<User>

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
</head>
<body>
    <a asp-controller="account" asp-action="AuthorizationPage">Авторизация</a>
    <a asp-controller="account" asp-action="RegistrationPage">Регистрация</a>

        <table>
            <tr><td>№</td><td>Пользователь</td><td>Роль</td></tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.Id</td>
            <td>@item</td>
            <td>@item.Role</td>
            <td><a asp-action="InformationPage" asp-controller="home" asp-route-id="@item.Id">Информация</a></td>
            <td><a asp-action="EditPage" asp-controller="home" asp-route-id="@item.Id">Изменение</a></td>
            <td><a asp-action="RemovePage" asp-controller="home" asp-route-id="@item.Id">Удалить</a></td>
        </tr>
            }
        </table>
</body>
</html>

