@using Microsoft.AspNetCore.Mvc.Localization
@model User

@{
    ViewBag.Title = "Информация";
}

@inject IViewLocalizer Localizer

<div>
<h1>@Localizer["User"] @Model.Login</h1>
<div>
    <dl>
        <dt>@Localizer["Id"]</dt>
        <dd>@Model.Id</dd>

        <dt>@Localizer["Name"]</dt>
        <dd>@Model</dd>
    </dl>
</div>
    </div>

